<%= form_for @weight do |f| %>

<div>
  <%= f.label :weight %>
  <%= f.text_field :amount %>
</div>

  <div>
  <%= f.label :date %>
  <%= f.date_field :date %>
  </div>

  <div>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  </div>

  <div>
  <%= f.submit %></div>
<% end %>